/************************
* GENERAL
************************/
html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: #000;
	font-family: 'Manrope-Light', serif;
	position: relative;
	/*background-image: url("./images/stars.jpg");*/
	background-size: cover;
	background-repeat: no-repeat;
}
@font-face {
	font-family: 'Manrope-Light';
	src: url('font/Manrope-Light.ttf');
	font-display: fallback;
}
@font-face {
	font-family: 'Manrope-Regular';
	src: url('font/Manrope-Regular.ttf');
	font-display: fallback;
}
@font-face {
	font-family: 'Manrope-Bold';
	src: url('font/Manrope-Bold.ttf');
	font-display: fallback;
}



/************************
* TEXT: Particles System
************************/
#gold-members {
	position: absolute;
	top: 3vh;
	left: 4vw;
	width: 90vw;
	height: 90vh;
	z-index: 10;
}




/************************
* TEXT: FADER
************************/
#diamond-member-1 {
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#diamond-member-1 img {
	display: block;
	height: 17vh;
	max-width: 90%;
	width: auto;
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
#diamond-member-1 #diamond-member-1_img1 {
	opacity: 1;
}
#diamond-member-1 #diamond-member-1_img2 {
	opacity: 0;
}





/************************
* TEXT: BAR FADE IN
************************/
.diamond-member {
	position: relative;
	z-index: 100;
}
.diamond-member .txt,
.diamond-member .txt2 {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
}
.diamond-member .txt2 {
	position: absolute;
	opacity: 0;
}
.diamond-member img {
	display: inline-block;
	height: 7vh;
	padding: 1vh;
}
.diamond-member .barFader {
	display: inline-block;
	width: 3px;
	height: 9.5vh;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	overflow: hidden;
	background-color: #fff;
	background: radial-gradient(circle, rgba(170,170,170,1) 0%, rgba(255,255,255,1) 100%);
}


.diamond-row1 {
	display: grid;
	grid-template-columns: 30% 30%;
	justify-content: space-evenly;
	position: absolute;
	top: 10vh;
	width: 100%;
}
.diamond-row2 {
	display: grid;
	grid-template-columns: 30% 30% 30%;
	justify-content: space-evenly;
	position: absolute;
	top: 80vh;
	width: 100%;
}



/************************
* MEMBER OVERLAY
************************/
#member-overlay{
	width: 0%;
	height: 0%;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1000;
	display: grid;
	grid-template-columns: 70%;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	opacity: 0;
	transition: 0.5s opacity, 0.5s width, 0.5s height;
	
	background: rgba(0,0,0,0.85);
	color: #fff;
	
}
#member-overlay #member-overlay-wrap {
	width: 100%;
	height: 70%;
	box-sizing: border-box;
	background: rgba(80,80,80,1);
	overflow: hidden;
	position: relative;
}
#member-overlay #member-img-wrap {
	width: 100%;
	padding: 5vh 0 5vh 0;
	box-sizing: border-box;
	background: rgba(40,40,40,1);
}
#member-overlay #member-img-wrap img {
	height: 15vh;
	max-width: 100%;
	box-sizing: border-box;
	display: block;
	margin: 0 auto;
}
#member-overlay #member-ad-wrap {
	width: 100%;
	box-sizing: border-box;
	padding: 5vh 5vw 5vh 5vw;
}
#member-overlay #member-ad-wrap img {
	width: 90%;
	display: block;
	margin: 0 auto;
}
#member-overlay #member-close {
	display: inline-block;
	font-size: 8vh;
	text-align: center;
	position: absolute;
	top: 0vh;
	right: 3vh;
}
#member-overlay #member-close:after{
	display: inline-block;
	content: "\00d7"; /* This will render the 'X' */
}
